#board{
	width:320px;
	height:320px;
}

#board div {
	width:100px;
	height: 100px;
	display:block;
	float:left;
	border:0 solid #333;
	text-align:center;
	cursor:pointer;
}

i.fa {
	font-size:100px;
	line-height:100px;
}

/*party time*/
.party-time {
	background:url('../images/party-time.gif');
}


/*individual squares*/
#board div:nth-child(1),#board div:nth-child(2),#board div:nth-child(4),#board div:nth-child(5),#board div:nth-child(7), #board div:nth-child(8) {
	border-right-width:1px;
}
#board div:nth-child(4),#board div:nth-child(5),#board div:nth-child(6),#board div:nth-child(7),#board div:nth-child(8),#board div:nth-child(9) {
	border-top-width:1px;
}